<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>
        &copy; <span id="currentYear"></span> {{ currentYear }} | Designed and developed by Barbara Calderon, adapted by Giuseppe Mota.
      </p>
      <div class="footer-icons">
        <a
          href="https://www.linkedin.com/in/giuseppe-mota-b9aaab200/"
          target="_blank"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/giuseppemota" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:giuseppemota@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
