<div class="row align-items-center default-container">
  <div class="col-lg-5">
    <div class="contact-card">
      <img
        src="../../assets/perfil.jpeg"
        alt="Contact Image"
        class="contact-image"
      />
      <h2 class="contact-title">
        <span class="white-highlight">&lt;</span>
        giuseppe_mota
        <span class="white-highlight"> /&gt; </span>
      </h2>
      <h1 class="default-highlight">SOFTWARE DEVELOPER</h1>

      <div class="media-content">
        <div class="media-icons">
          <div class="media-icon">
            <a
              href="https://www.linkedin.com/in/giuseppe-mota-b9aaab200/"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="media-icon">
            <a href="https://github.com/giuseppemota" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>

          <div class="media-icon">
            <a href="mailto:giuseppemota@gmail.com">
              <i class="fas fa-envelope"></i>
            </a>
          </div>
        </div>
      </div>

      <p class="contact-paragraph">
        Estou sempre feliz em colaborar em novos projetos e explorar soluções
        inovadoras. Se você está procurando um engenheiro dedicado para dar vida
        às suas ideias, vamos marcar uma chamada. Vamos discutir como
        <span class="default-highlight">
          podemos trabalhar juntos para alcançar seus objetivos</span
        >.
      </p>
      <button>
        <a
          href="https://www.linkedin.com/in/giuseppe-mota-b9aaab200/"
          target="_blank"
        >
          > Deixe a sua mensagem
        </a>
      </button>
    </div>
  </div>
</div>
