<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Formação.</h2>
                <p class="default-p">
                    Confira minha formação e habilidades: idiomas que falo, educação universitária, cursos técnicos e tecnologias com as quais trabalhei.
                </p>
                <app-accordion></app-accordion>
        </div>
    </div>
</div>
