<div class="accordion-left">
  <accordion [isAnimated]="true">
    <accordion-group
      heading="Idiomas."
      [panelClass]="customClass"
      class="accordion-title mb-2"
    >
      <div class="accordion-text">
        <p>
          Nativo
          <strong><span class="default-highlight">Português</span></strong>
        </p>
        <p>
          Intermediario
          <strong><span class="default-highlight">Inglês</span></strong>
        </p>

        <p>
          Basico
          <strong><span class="default-highlight">Espanhol</span></strong>
        </p>
      </div>
    </accordion-group>

    <accordion-group
      heading="Universidade."
      panelClass="customClass"
      class="accordion-title mb-2"
    >
      <div class="accordion-text">
        <p>
          2024 - UESC -
          <strong
            ><span class="default-highlight"
              >Engenharia de Produção</span
            ></strong
          >
          - Bacharelado
        </p>
        <ul>
          <li>
            Projeto Final | Digitalização no varejo: Desenvolvimento de uma
            plataforma web para gestão de informações de produtos.
          </li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group
      heading="Certificações."
      panelClass="customClass"
      class="accordion-title mb-2"
    >
      <div class="accordion-text">
        <p>
          CEPEDI/BA -
          <strong
            ><span class="default-highlight"
              >Residência em software TIC18</span
            ></strong
          >
          - 2024
        </p>
        <ul>
          <li>
            Programa de desenvolvimento em software de aplicações web fullstack.
            Uso das tecnologias .NET(C#), Angular, Typescript, Javascript, SQL,
            e NOSQL, além de Docker e SCRUM.
          </li>
        </ul>
        <p>
          Google/Coursera -
          <strong
            ><span class="default-highlight"
              >Gestão de Projetos Ágeis</span
            ></strong
          >
          - 2023
        </p>
        <ul>
          <li>
            Certificado emitido pela Google e Coursera, atestando a conclusão do
            curso de Gestão de Projetos Ágeis. Ferramentas aprendidas incluem
            metodologias ágeis como SCRUM, XP, e também tradicionais como
            Waterfall, entre outras.
          </li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group
      heading="Principais tecnologias."
      panelClass="customClass"
      class="accordion-title mb"
    >
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-csharp-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-dotnetcore-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-angular-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-typescript-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-javascript-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-html5-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-css3-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-bootstrap-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-python-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-git-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-rabbitmq-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-postgresql-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-sqlite-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-firebase-plain-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-vscode-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-insomnia-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-postman-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-swagger-plain"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-npm-original-wordmark"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-github-original"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-jira-plain-wordmark"></i>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
