<div class="row align-items-center default-container">
  <div class="col-lg-8">
    <div class="text-left">
      <h1 class="home-title">Costruindo soluções digitais de ponta a ponta.</h1>
      <h2 class="home-author">
        Giuseppe Mota, <span id="dynamic-text">{{ dynamicText }}</span>
      </h2>
      <blockquote>
        Engenheiro de software, entusiasta do desenvolvimento web e mobile.
        Experiente na construção e entrega de código acessível escalavel e de
        alta performance.
      </blockquote>
      <button>
        <a routerLink="/portfolio"> > Acessar Portfolio </a>
      </button>
    </div>
  </div>
</div>
